vendor/
composer.lock
phpunit.xml
.php_cs.cache
.phpunit.result.cache
composer.phar
package.tar
/packages.json
/.phpunit
/.psalm/
/.idea/
/.phpcs-cache
#/Tests/certs/*.crt
/Tests/certs/*.csr
#/Tests/certs/*.key
/Tests/certs/*.srl

