parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - %currentWorkingDirectory%/DependencyInjection
        - %currentWorkingDirectory%/Tests
    ignoreErrors:
        -
            message: '#.*NodeDefinition::children.*#'
            path: %currentWorkingDirectory%/DependencyInjection
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
