<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    strictBinaryOperands="true"
    ignoreInternalFunctionFalseReturn="false"
    ignoreInternalFunctionNullReturn="false"
    findUnusedVariablesAndParams="true"
    findUnusedCode="true"
    findUnusedPsalmSuppress="true"
    findUnusedBaselineEntry="true"
    ensureArrayStringOffsetsExist="true"
    ensureArrayIntOffsetsExist="true"
    cacheDirectory=".psalm"
    errorLevel="1"
>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin" />
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin" />
    </plugins>

    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="tests" />
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PossiblyUndefinedMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::children" />
            </errorLevel>
        </PossiblyUndefinedMethod>

        <!-- Need to resolve this (see https://psalm.dev/140) -->
        <MoreSpecificImplementedParamType errorLevel="suppress" />

        <PropertyNotSetInConstructor errorLevel="suppress" />

        <UnusedClass errorLevel="suppress" />

        <UnusedConstructor errorLevel="suppress" />
    </issueHandlers>
</psalm>
