# See continuous-integration.yml for sources.

name: "Coding Standards"

on: [push, pull_request]

jobs:
  coding-standards:
    name: "Coding Standards on PHP ${{ matrix.php-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        php-version:
          - 7.4
          - 8.0
          - 8.1

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          tools: "cs2pr"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"

      - name: "Run PHP_CodeSniffer"
        run: "vendor/bin/phpcs -q --no-colors --report=checkstyle | cs2pr"
